################################################################################
#                                                                              #
#                         Git Ignore Configuration                             #
#                                                                              #
################################################################################

*.sublime-workspace
build/
